In [4]:
#recieving an input from user and checking whether it's prime or not
num=int (input("enter a number:"))
if num>1:
  for i in range(2,num//2+1):
    if num%i==0:
      print(num,":is not a prime number")
      break
  else:
    print(num,":is a prime number")

enter a number:33
33 :is not a prime number

In [5]:
#excercise-2----generating random number and receiving product of these rand.num..and checking whether it's true or false

In [7]:
import random #importing library
num1=random.randint(1,10)
num2=random.randint(1,10)
print("random number1=",num1)
print("random number2=",num2)
product=num1*num2
answer=int (input("enter the product of these random number:"))
if answer==product:
  print("Excellent!!🤸‍♀️ the answer is correct")
else:
  print("Fool!!🤦‍♂️ the answer is incorrect")

random number1= 7
random number2= 5
enter the product of these random number:35
Excellent!!🤸‍♀️ the answer is correct

In [8]:
#exercis-3---squares of even or odd number

In [9]:
#printing squares of even number
for i in range(100,201):
  if i%2==0:
    square=i**2
    print(i,"square is:",square)

100 square is: 10000
102 square is: 10404
104 square is: 10816
106 square is: 11236
108 square is: 11664
110 square is: 12100
112 square is: 12544
114 square is: 12996
116 square is: 13456
118 square is: 13924
120 square is: 14400
122 square is: 14884
124 square is: 15376
126 square is: 15876
128 square is: 16384
130 square is: 16900
132 square is: 17424
134 square is: 17956
136 square is: 18496
138 square is: 19044
140 square is: 19600
142 square is: 20164
144 square is: 20736
146 square is: 21316
148 square is: 21904
150 square is: 22500
152 square is: 23104
154 square is: 23716
156 square is: 24336
158 square is: 24964
160 square is: 25600
162 square is: 26244
164 square is: 26896
166 square is: 27556
168 square is: 28224
170 square is: 28900
172 square is: 29584
174 square is: 30276
176 square is: 30976
178 square is: 31684
180 square is: 32400
182 square is: 33124
184 square is: 33856
186 square is: 34596
188 square is: 35344
190 square is: 36100
192 square is: 36864
194 square is: 37636
196 square is: 38416
198 square is: 39204
200 square is: 40000

In [10]:
#printing square of odd number
for i in range(100,201):
  if i%2!=0:
    print(i,"square is:",i**2)

101 square is: 10201
103 square is: 10609
105 square is: 11025
107 square is: 11449
109 square is: 11881
111 square is: 12321
113 square is: 12769
115 square is: 13225
117 square is: 13689
119 square is: 14161
121 square is: 14641
123 square is: 15129
125 square is: 15625
127 square is: 16129
129 square is: 16641
131 square is: 17161
133 square is: 17689
135 square is: 18225
137 square is: 18769
139 square is: 19321
141 square is: 19881
143 square is: 20449
145 square is: 21025
147 square is: 21609
149 square is: 22201
151 square is: 22801
153 square is: 23409
155 square is: 24025
157 square is: 24649
159 square is: 25281
161 square is: 25921
163 square is: 26569
165 square is: 27225
167 square is: 27889
169 square is: 28561
171 square is: 29241
173 square is: 29929
175 square is: 30625
177 square is: 31329
179 square is: 32041
181 square is: 32761
183 square is: 33489
185 square is: 34225
187 square is: 34969
189 square is: 35721
191 square is: 36481
193 square is: 37249
195 square is: 38025
197 square is: 38809
199 square is: 39601

In [11]:
#exercise-4---hospital billing sysytem

In [12]:
charges={"room_per_day":2000,"dr_con_fee":1500,"lab_test_charge":300} #storing data about charges in a dictionary
patient={"days_stayed":4,"lab_test":3,"medicine_charge":2400}# storing data about patient

In [13]:
#calculation
room_rent=charges["room_per_day"]*patient["days_stayed"]
consultation_fee=charges["dr_con_fee"]
lab_test_charge=charges["lab_test_charge"]*patient["lab_test"]
medicine_cost=patient["medicine_charge"]
total_bill=room_rent+consultation_fee+lab_test_charge+medicine_cost

In [14]:
total_bill

12800

In [17]:
#the total bill is 12800(>10000), so applying 10% discount

In [18]:
if total_bill >10000:
  discount=total_bill*0.11
else:
  discount=0

In [19]:
total_bill_after_discount=total_bill-discount

In [20]:
total_bill_after_discount

11392.0

In [22]:
#printing the results
print("total bil before discount:",total_bill)
print("discount(10%):",discount)
print("total bill after discount:",total_bill_after_discount)

total bil before discount: 12800
discount(10%): 1408.0
total bill after discount: 11392.0